<div class="mega-main">
    <app-login-navbar />
    
    <div data-aos="fade-up" data-aos-duration="1000" class="main">
        <div class="inputs-handler">
            <div class="form-group">
                <label class="label">Email</label>
                <input class="input" type="text" required>
            </div>
            <div class="form-group">
                <label class="label">Password</label>
                <input class="input" type="password" required>
            </div>
            <button data-aos="fade-up" data-aos-duration="2500" class="login-btn">Login</button>
            <div data-aos="fade-up" data-aos-duration="3000" class="forgot-handler">
                <a class="forgot" href="">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>