.mega-main{
    overflow: hidden;
}

.main{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 50px;
}

.inputs-handler{
    width: 400px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.input{
    border: none;
    border-bottom: 5px solid rgb(184, 181, 181);
    outline: none;
    font-size: 20px;
    font-weight: 400;
    color: rgb(184, 181, 181);
}

.label{
    font-size: 15px;
    font-weight: 400;
    font-family: sans-serif;
}

.login-btn{
    width: 100%;
    height: 50px;
    margin-top: 30px;
    font-size: 25px;
    font-size: 400;
    color: white;
    background-color: rgb(3, 3, 171);
    border: none;
    border-radius: 10px;
    transition: 0.5s;
}

.login-btn:hover{
    cursor: pointer;
    background-color: rgb(141, 141, 242);
}

.forgot-handler{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.forgot{
    font-size: 20px;
    font-weight: 400;
    color: rgb(184, 181, 181);
    text-decoration: none;
}