.main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}

.inner-main{
    width: 35%;
    position: relative;
    bottom: 100px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.label{
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
}

.input{
    width: 100%;
    padding: 18px!important;
    font-size: 20px!important;
    font-weight: 500!important;
    height: 30px!important;
    border: 4px solid rgb(6, 208, 191)!important;
    outline: none!important;
     
}

.choose{
    width: 100%;
    font-size: 20px!important;
    font-weight: 500!important;
    height: 30px!important;
    border: 4px solid rgb(6, 208, 191)!important;
    outline: none!important;
    height: 40px!important;
}

.gender-header{
    width: 50%;
    font-size: 20px;
    color: rgb(0, 0, 0);
    height: 30px;
}

// .form-select select{
//     border: 2px solid rgb(0, 128, 117);
// }

.gender{
    width: 50%;
    font-size: 20px;
    color: rgb(172, 171, 171);
    height: 30px;
    border: 2px solid rgb(0, 128, 117);
}

.add-button-handler{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.add-button{
    width: 70%;
    height: 60px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    font-family: sans-serif;
    color: white;
    background-color: blue;
    transition: 0.5s;
}

.add-button:hover{
    cursor:pointer;
    background-color: rgb(118, 118, 253);
}

.unvisable{
    display: none;
}

.unvisible-input{
    display: none;
}

.input-trigger{
    width: 50%;
    height: 40px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 20px;
    transition: 0.5s;
}

.input-trigger:hover{
    cursor: pointer;
    background-color: rgb(255, 120, 120);
}