<app-secondary-navbar path="../../../../assets/images/add-icon.png"/>

<div class="main">
    <div class="inner-main">
        <div class="form-group">
            <label class="label">First name</label>
            <input placeholder="Enter something..." class="input" type="text" required>
        </div>
        <div class="form-group">
            <label class="label">Last name</label>
            <input placeholder="Enter something..." class="input" type="text" required>
        </div>
        <div class="form-group">
            <label class="label">Email</label>
            <input placeholder="Enter something..." class="input" type="text" required>
        </div>
        <div class="form-group">
            <label class="label">Class</label>
            <input placeholder="Enter something..." class="input" type="text" required>
        </div>
        <div class="form-group">
            <label class="label">Subject</label>
            <input placeholder="Enter something..." class="input" type="text" required>
        </div>
        <div class="form-group">
            <label class="label">Role No.</label>
            <input placeholder="Enter something..." class="input" type="text" required>
        </div>
        <div class="add-button-handler">
            <div class="add-button">Add to contact</div>
        </div>
    </div>
</div>