<app-secondary-navbar path="../../../../assets/images/add-icon.png"/>

<div class="main">
    <div class="inner-main">
        <div data-aos="fade-right" data-aos-duration="1000" class="form-group">
            <label class="label">First name</label>
            <input placeholder="Enter something..." class="input" type="text" required>
        </div>
        <div data-aos="fade-left" data-aos-duration="1000" class="form-group">
            <label class="label">Last name</label>
            <input placeholder="Enter something..." class="input" type="text" required>
        </div>
        <div data-aos="fade-right" data-aos-duration="1000" class="form-group">
            <label class="label">Email</label>
            <input placeholder="Enter something..." class="input" type="text" required>
        </div>
        <div data-aos="fade-left" data-aos-duration="1000" class="form-group">
            <label class="label">Class</label>
            <input placeholder="Enter something..." class="input" type="text" required>
        </div>
        <div  data-aos="fade-right" data-aos-duration="1000" class="form-group">
            <label class="label">Subject</label>
            <input placeholder="Enter something..." class="input" type="text" required>
        </div>
        <div data-aos="fade-left" data-aos-duration="1000"  class="form-group">
            <label class="label">Role No.</label>
            <input placeholder="Enter something..." class="input" type="text" required>
        </div>
        <div data-aos="fade-up" data-aos-duration="1000" class="add-button-handler">
            <div class="add-button">Add to contact</div>
        </div>
    </div>
</div>