.top-image{
    width: 100%;
    height: 150px;
    background-attachment: fixed;
}

.bg-circle-handler{
    width: 100%;
    position: relative;
    bottom: 100px;
    display: flex;
    justify-content: center;
}

.bg-circle{
    position: relative;
    left: 15%;
}

.logo{
    position: relative;
    right: 35%;
    bottom: 20%;
}

.example{
    background-color: aqua;
    width: 300px;
    height: 100px;
    margin-top: 1000px;
}