<main class="site-main">
  <app-navbar></app-navbar>
  <section class="attendance-section">
    <div></div>
    <div class="attendance">
      <div class="attendance-title">
        <p>Class: <strong>3A</strong></p>
        <p>Date: <strong>22/05/2022</strong></p>
      </div>

      <div class="attendance-table">
        <div class="attendance-table__header">
          <div class="attendance-table-header__item">
            <p>Student Name</p>
          </div>
          <div class="flex">
            <div class="attendance-table-header__item">
              <p>Marks</p>
            </div>
          </div>
        </div>

        <div class="attendance-choose">
          <select name="" id="" (change)="onChangeClass($event)">
            <option value="" hidden selected>Choose your class</option>
            @if (classList) {@for (class of classList.$values; track classList.$values.name){
            <option value="{{ class.id }}">
              {{ class.grade }}-{{ class.name }}
            </option>
            }}
          </select>
          <select name="" id="" (change)="onChangeLesson($event)">
            <option value="" hidden selected>Choose your lesson</option>
            @if (lessonList){ @for (lesson of lessonList.$values; track
            lessonList.$values.theme){
            <option value="{{ lesson.id }}">{{ lesson.theme }}</option>
            } }
          </select>
        </div>
        
        <div class="attendance-table__body">
          @if (isEnter){
            @for (index of studentTest.$values; track index){
              @if (index.firstName != undefined){
                <div class="attendance-table__body-row">
                  <div class="attendance-table-body__item">
                    <p>
                      {{index.firstName + " " + index.lastName}}
                    </p>
                  </div>
      
                  <div class="flex">
                    <div class="attendance-table-body__item">
                      <input type="text" [maxLength]=3 name="" id=`mark_${index}` />
                    </div>
                  </div>
                </div>
              }
            }
          }
        <button (click)="addcoin($event)" class="submit-btn">Submit</button>
      </div>


      </div>
    </div>
  </section>
</main>