.attendance-section{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;

  .attendance{
    width: 100%;
  }
  
  .attendance-title{
     padding: 10px;
    background-color: rgba(65, 105, 225, 0.689);
    display: flex;
    justify-content: space-between;
    *{
      color: white;
    }
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    color: royalblue;
    font-weight: 500;
    font-size: 25px;
  }

  // .attendance-table{
  // }
  
  .attendance-table__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    background-color: rgba(65, 105, 225, 0.689);
    padding: 10px 20px;

    *{
      color:  white;
    }

    .attendance-table-header__item{
      width: 60px;
    }
    
    .flex{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 40px;
    }
    &>.attendance-table-header__item{
      width: 100%;
    }
    // padding: 10px 20px;
  }

  .attendance-table__body{
    .attendance-table__body-row{
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: space-between;
      padding: 10px 20px ;
    }

    .attendance-table-body__item{
      padding: 20px 0;

      p{
        
        font-size: 20px;
        font-weight: 500;
      
      }
    }
    
    .flex{
      display: flex;
      gap: 40px;
      .attendance-table-body__item{
        width: 60px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        input{
          width: 55px;
          height: 20px;
          // padding: 10px;
          color: black;
          border-radius: 5px;
          border: solid 1px royalblue;
          outline: solid 2px royalblue;
          
        }
        
        // span{
        //   display: inline-block;
        //   padding: 10px 20px;
        //   border: solid 2px royalblue;
        // }
      }
    }

    .submit-btn {
      display: flex;
      background-color: rgb(120, 120, 245);
      width: 100px;
      height: 40px;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;
  }

  .submit-btn:hover {
      background-color: rgb(100, 100, 230);
  }

  }

}