<main class="site-main">
  <app-navbar></app-navbar>
  <section class="section-homework">
    <div class="homework">
      <div class="homework-header" #test>
        <img width="38" height="38" src="assets/images/White-Exam.png" alt="">
        <h1>Homework</h1>
      </div>

      <div class="homework-content">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, illum.</h2>
        <div class="homework__wrapper">
          <img src="assets/images/book.jpg" width="500" alt="">
        </div>
      </div>

      <div class="homework-btn__wrapper">
        <button>
          <img src="assets/images/White-Plus.png" alt="">
          <span>Add Homework</span>
        </button>
      </div>
      
    </div>
  </section>
</main>
