<main class="site-main">
  <app-navbar></app-navbar>
  <section class="attendance-section">
    <div class="attendance">
      <div></div>
      <div class="attendance-title">
        <p>Class: <strong>3A</strong></p>
        <p>Date: <strong>22/05/2022</strong></p>
      </div>

      <div class="attendance-table">
        <div class="attendance-table__header">
          <div class="attendance-table-header__item">
            <p>Student Name</p>
          </div>
          <div class="flex">
            <div class="attendance-table-header__item">
              <p>Present</p>
            </div>
            <div class="attendance-table-header__item">
              <p>Absent</p>
            </div>
          </div>
        </div>
        <div class="attendance-choose">
          <select name="" id="" (change)="onChangeClass($event)">
            <option value="" hidden selected>Choose your class</option>
            @if (classList) {@for (class of classList.$values; track classList.$values.name){
            <option value="{{ class.id }}">
              {{ class.grade }}-{{ class.name }}
            </option>
            }}
          </select>
          <select name="" id="" (change)="onChangeLesson($event)">
            <option value="" hidden selected>Choose your lesson</option>
            @if (lessonList){ @for (lesson of lessonList.$values; track
            lessonList.$values.theme){
            <option value="{{ lesson.id }}">{{ lesson.theme }}</option>
            } }
          </select>
        </div>
        <div class="attendance-table__body">
          @if (studentList){ 
            @if (studentList.$values > 0){ @for (student of studentList.$values; track
              studentList.$values.theme){
              <div class="attendance-table__body-row">
                <div class="attendance-table-body__item">
                  <p>John Doe</p>
                </div>
    
                <div class="flex">
                  <div class="attendance-table-body__item">
                    <!-- <span></span> -->
                    <input type="checkbox" name="" id="" />
                  </div>
                  <div class="attendance-table-body__item">
                    <input type="checkbox" name="" id="" />
                    <!-- <span></span> -->
                  </div>
                </div>
              </div>
              }
            } @else {
              <div class="alert alert-info" role="alert">
                <strong>Heads up!</strong> No students found.
            </div>
            }
          } @else{
            <div class="alert alert-warning" role="alert">
              <strong>Warning!</strong> Choose your class and lesson first.
            </div>
          }
        </div>
      </div>
    </div>
  </section>
</main>
