<main class="site-main">
  <app-navbar></app-navbar>
  <section class="attendance-section">
    <div class="attendance">
      <div class="attendance-title">
        <p>Class: <strong>3A</strong></p>
        <p>Date: <strong>22/05/2022</strong></p>
      </div>

      <div class="attendance-table">
        <div class="attendance-table__header">
          <div class="attendance-table-header__item">
            <p>Student Name</p>
          </div>
          <div class="flex">
            <div class="attendance-table-header__item">
              <p>Present</p>
            </div>
            <div class="attendance-table-header__item">
              <p>Absent</p>
            </div>
          </div>
        </div>
        <div class="attendance-table__body">
          <div class="attendance-table__body-row">
            <div class="attendance-table-body__item">
              <p>John Doe</p>
            </div>

            <div class="flex">
              <div class="attendance-table-body__item">
                <!-- <span></span> -->
                <input type="checkbox" name="" id="" />
              </div>
              <div class="attendance-table-body__item">
                <input type="checkbox" name="" id="" />
                <!-- <span></span> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
