<main class="site-main">
  <app-navbar></app-navbar>
  <section class="section-result question-list-section">
    <div class="result">
      <div class="homework-header" #test></div>

      <ul class="result-list">
        <li class="result-list-item">
          <a [routerLink]="['/student-ask-question']">
            <span class="result-item-header"></span>
            <div class="result-list-item__content">
              <h2>First Terminal</h2>
              <div class="result-list-item__wrapper">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, qui sint ad quasi non debitis neque itaque veritatis est, natus officiis labore reiciendis mollitia excepturi. Amet, quis adipisci? Fuga veritatis, reprehenderit eius omnis consectetur beatae quaerat, distinctio unde fugit aut odit, voluptas molestias voluptates quas nobis a quidem debitis sed?
                </p>
              </div>
            </div>
            <div class="result-list-item__btn__wrapper">
              <button>View</button>
            </div>
          </a>
        </li>
        <li class="result-list-item">
          <a [routerLink]="['/student-ask-question']">
            <span class="result-item-header"></span>
            <div class="result-list-item__content">
              <h2>First Terminal</h2>
              <div class="result-list-item__wrapper">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, qui sint ad quasi non debitis neque itaque veritatis est, natus officiis labore reiciendis mollitia excepturi. Amet, quis adipisci? Fuga veritatis, reprehenderit eius omnis consectetur beatae quaerat, distinctio unde fugit aut odit, voluptas molestias voluptates quas nobis a quidem debitis sed?
                </p>
              </div>
            </div>
            <div class="result-list-item__btn__wrapper">
              <button>View</button>
            </div>
          </a>
        </li>
      </ul>
      <div class="question-btn">
        <div class="question-btn__wrapper">
          <button>Remove question</button>
          <button>Add question</button>
        </div>
        <img src="assets/images/question-btn.png" alt="">
      </div>
    </div>
  </section>
</main>
