<header data-aos="fade-right" data-aos-duration="1000" class="{{ menuToggle }}" #homeworkHeader>
  <div class="header">
    <div class="header-btn">
      <img src="assets/images/Menu.png" alt="menu" (click)="toggleMenu()" #menuBtn />
    </div>
    <ul class="header-list">
      <li class="header-list-item">
        <a [routerLink]="['/teacher-attendance']">
          <img src="assets/images/School House.png" alt="" />
          <span> Attendance </span>
        </a>
      </li>
      <li class="header-list-item">
        <a [routerLink]="['/teacher-homework']">
          <img src="assets/images/US News.png" alt="" />
          <span> Homework </span>
        </a>
      </li>
      <li class="header-list-item">
        <a [routerLink]="['/teacher-result']">
          <img src="assets/images/Office Phone.png" alt="" />
          <span> Result </span>
        </a>
      </li>
      <li class="header-list-item">
        <a>
          <img src="assets/images/Automatic.png" alt="" />
          <span> Exam Routine </span>
        </a>
      </li>
      <li class="header-list-item">
        <a [routerLink]="['/solutions']">
          <img src="assets/images/Automatic.png" alt="" />
          <span> Solution </span>
        </a>
      </li>
      <li class="header-list-item">
        <a [routerLink]="['/notice-events']">
          <img src="assets/images/Automatic.png" alt="" />
          <span> Notice & Event </span>
        </a>
      </li>
      <li class="header-list-item">
        <a [routerLink]="['/login']">
          <img src="assets/images/Exit.png" alt="" />
          <span> Logout </span>
        </a>
      </li>
    </ul>
  </div>
</header>
