<header class="site-header">
  <div class="header">
    <button class="header-btn">
      <img src="assets/images/Menu.png" alt="menu" />
    </button>
    <ul class="header-list">
      <li class="header-list-item">
        <img src="assets/images/School House.png" alt="">
        <a href="#">Profile of School</a>
      </li>
      <li class="header-list-item">
        <img src="assets/images/US News.png" alt="">
        <a href="#">Profile of Publication</a>
      </li>
      <li class="header-list-item">
        <img src="assets/images/Office Phone.png" alt="">
        <a href="#">Emergency contact</a>
      </li>
      <li class="header-list-item">
        <img src="assets/images/Automatic.png" alt="">
        <a href="#">Settings</a>
      </li>
      <li class="header-list-item">
        <img src="assets/images/Exit.png" alt="">
        <a href="#">Logout</a>
      </li>
    </ul>
  </div>
</header>
