<header
  data-aos="fade-right"
  data-aos-duration="1000"
  class="{{ menuToggle }}"
  #homeworkHeader
  class="aaa"
>
  <div class="header">
    <div class="header-btn">
      <img
        src="assets/images/Menu.png"
        alt="menu"
        (click)="toggleMenu()"
        #menuBtn
      />
    </div>
    @if (role.Role == 'Teacher') {
    <ul class="header-list">
      <li class="header-list-item">
        <a [routerLink]="['/teacher-attendance']" routerLinkActive="active">
          <img src="assets/images/attendance-logo.png" alt="" />
          <span> Attendance </span>
        </a>
      </li>
      <li class="header-list-item">
        <a [routerLink]="['/create-class']" routerLinkActive="active">
          <img src="assets/images/attendance-logo.png" alt="" />
          <span> Class Create </span>
        </a>
      </li>
      <li class="header-list-item">
        <a [routerLink]="['/teacher-homework']" routerLinkActive="active">
          <img src="assets/images/homework-logo.png" alt="" />
          <span> Homework </span>
        </a>
      </li>
      <li class="header-list-item">
        <a routerLinkActive="active" [routerLink]="['/teacher-result']">
          <img src="assets/images/result-logo.png" alt="" />
          <span> Result </span>
        </a>
      </li>
      <li class="header-list-item">
        <a routerLinkActive="active">
          <img src="assets/images/exam-routine.png" alt="" />
          <span> Exam Routine </span>
        </a>
      </li>
      <li class="header-list-item">
        <a routerLinkActive="active" [routerLink]="['/teacher-questions']">
          <img src="assets/images/question-logo.png" alt="" />
          <span> CRUD Question </span>
        </a>
      </li>
      <li class="header-list-item">
        <a routerLinkActive="active" [routerLink]="['/notice-events']">
          <img src="assets/images/event-logo.png" alt="" />
          <span> Notice & Event </span>
        </a>
      </li>
      <li class="header-list-item">
        <a routerLinkActive="active" [routerLink]="['/create-teacher']">
          <img src="assets/images/register-logo.png" alt="" />
          <span> Teacher Registration </span>
        </a>
      </li>
      <li class="header-list-item">
        <a routerLinkActive="active" [routerLink]="['/form']">
          <img src="assets/images/register-logo.png" alt="" />
          <span> Student Registration </span>
        </a>
      </li>
      <li class="header-list-item">
        <a routerLinkActive="active" [routerLink]="['/teacher-add-mark']">
          <img src="assets/images/mark-logo.png" alt="" />
          <span> Add Mark </span>
        </a>
      </li>
      <li class="header-list-item">
        <a routerLinkActive="active" [routerLink]="['/login']">
          <img src="assets/images/Exit.png" alt="" />
          <span> Logout </span>
        </a>
      </li>
    </ul>
    } 
    @else {
      <ul class="header-list">
        <li class="header-list-item">
          <a [routerLink]="['/teacher-homework']" routerLinkActive="active">
            <img src="assets/images/homework-logo.png" alt="" />
            <span> Homework </span>
          </a>
        </li>
        <li class="header-list-item">
          <a routerLinkActive="active" [routerLink]="['/teacher-result']">
            <img src="assets/images/result-logo.png" alt="" />
            <span> Result </span>
          </a>
        </li>
        <li class="header-list-item">
          <a routerLinkActive="active">
            <img src="assets/images/exam-routine.png" alt="" />
            <span> Exam Routine </span>
          </a>
        </li>
        <li class="header-list-item">
          <a routerLinkActive="active" [routerLink]="['/quiz-start']">
            <img src="assets/images/mark-logo.png" alt="" />
            <span> Quiz </span>
          </a>
        </li>
        <li class="header-list-item">
          <a routerLinkActive="active" [routerLink]="['/student-events']">
            <img src="assets/images/event-logo.png" alt="" />
            <span> Notice & Event </span>
          </a>
        </li>
        <li class="header-list-item">
          <a routerLinkActive="active" [routerLink]="['/student-profile']">
            <img src="assets/images/mark-logo.png" alt="" />
            <span> Profile </span>
          </a>
        </li>
        <li class="header-list-item">
          <a routerLinkActive="active" [routerLink]="['/login']">
            <img src="assets/images/Exit.png" alt="" />
            <span> Logout </span>
          </a>
        </li>
      </ul> 
    }
  </div>
</header>
