<app-login-navbar />
<div class="main">
    <div class="inner-main">
        <div data-aos="fade-left" data-aos-duration="1000" class="form-group">
            <label class="label">Name</label>
            <input id="lastName" name="firstName" placeholder="Enter something..." class="input" type="text" required>
        </div>
        <div data-aos="fade-left" data-aos-duration="1000" class="form-group">
            <label class="label">Grade</label>
            <input id="lastName" name="firstName" placeholder="Enter something..." class="input" type="number" required>
        </div>
    </div>
</div>