<app-login-navbar />
<div class="main">
    <div class="inner-main">
        <div data-aos="fade-left" data-aos-duration="1000" class="form-group">
            <label class="label">Name</label>
            <input id="lastName" [(ngModel)]="class.name" name="firstName" placeholder="Enter something..."
                class="input" type="text" required>
        </div>
        <div data-aos="fade-right" data-aos-duration="1000" class="form-group">
            <label class="label">Grade</label>
            <input id="lastName" [(ngModel)]="class.grade" name="firstName" placeholder="Enter something..."
                class="input" type="number" required>
        </div>
        <div data-aos="fade-left" data-aos-duration="1000" class="form-group">
            <label class="label">Teacher</label>
            <select (change)="example($event)" id="teachers" class="dropdown">
                @for (teacher of teachers.$values; track teachers.$values.$id) {
                <option>{{teacher.firstName}}</option>
                }
            </select>
        </div>
        <div data-aos="fade-up" data-aos-duration="1000" class="form-group">
            <button data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="createClass()" class="btn btn-primary">Create</button>
        </div>
        <div style="height: 160px;"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create Class</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{message}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>