.main{
    width: 100%;
    display: flex;
    height: 100vh;
}

.inner-main{
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner-main-body{
    width: 40%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.content-handler{
    width: 100%;
    display: flex;
    justify-content: center;
}

.header{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 400;
    position: relative;
    top: 60px;
}

.wallpaper{
    width: 500px;
    height: 400px;
}

.start-btn{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    border-radius: 10px;
    background-color: blue;
    color: white;
    transition: 0.5s;
}

.start-btn:hover{
    background-color: rgb(125, 125, 255);
    cursor: pointer;
}