<app-primary-navbar path="../../../../assets/images/quiz-icon.png" header="Quiz"/>
<div class="main">
    <app-navbar />
    <div  class="inner-main">
        <div data-aos="flip-left" data-aos-duration="1000"   class="inner-main-body">
            <div class="content-handler">
                <h1 class="header">Start Quiz</h1>
            </div>
            <div class="content-handler">
                <img class="wallpaper" src="../../../../assets/images/quiz-wallpaper.png" alt="">
            </div>
            <div data-aos="fade-up" data-aos-duration="1000"  class="start-btn">
                <p>Start</p>
            </div>
            <div class="content-handler"></div>
        </div>
    </div>
</div>