<div class="main">
    <app-primary-navbar path="../../../../assets/images/quiz-icon.png" header="Score"/>
    <div class="inner-main">
        <app-navbar/>
        <div data-aos="fade-up" data-aos-duration="1000" class="content">
                <div class="inner-content">
                    <h1 class="score">Score</h1>
                </div>
                <div class="inner-content">
                    <h1 class="inner-score">Score: {{total}}</h1>
                </div>
                <div class="inner-content">
                    <h1 class="total">Total: {{score}}</h1>
                </div>
        </div>
    </div>
</div>