<app-secondary-navbar path="../../../../assets/images/smile.png" />

<div class="main">
    <div class="inner-main">
        <div class="centrize-welcome">
            <div data-aos="fade-right" data-aos-duration="1000" class="welcom-div">
                <h3 class="welcome-header">Welcome Message <img src="../../../../assets/images/right-arrow.png" alt="">
                </h3>
                <p class="welcome-paragrph">The standard Lorem Ipsum passage
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. </p>
            </div>
        </div>
        <div class="cards-mine">
            <app-small-card path="../../../../assets/images/attendance.png" header="Attendance" [routerLink]="['/teacher-student-attendance']"/>
            <app-small-card path="../../../../assets/images/homework.png" header="Homework" [routerLink]="['/teacher-homework']"/>
            <app-small-card path="../../../../assets/images/result.png" header="Result" [routerLink]="['/techer-result']"/>
            <app-small-card path="../../../../assets/images/exam.png" header="Quiz" [routerLink]="['/quiz-start']"/>
            <app-small-card path="../../../../assets/images/solution.png" header="Student Profile" [routerLink]="['/student-profile']"/>
            <app-small-card path="../../../../assets/images/event.png" header="Notice & Event" [routerLink]="['/events']"/>
        </div>
    </div>
</div>