.homework-section{
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;

  .homework{
    width: 700px;
  }

  .homework-content__wrapper{
    margin-bottom: 50px;
  }

  .homework-title{
    color: royalblue;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 20px;   
  }
  
  .homework-media__wrapper{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    
    label{
      display: flex;
      gap: 10px;
      // font-size: 22px;
      font-weight: 400;
      flex-direction: column;

      input{
        padding: 10px;
        border-radius: 5px;
        border: 1px solid royalblue;
        outline: none;
        

        &:focus{
          outline: solid royalblue 1px;
        }
      }
    }
  }

  .homework-media__wrapper{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    width: 100%;

    button{
      background-color: royalblue;
      padding: 10px 20px;
      border-radius: 5px;
      color: white;
      width: 100%;
    }

    .file-wrapper{
      position: relative;
      width: 100px;
      margin: 0 auto;

      input{
        opacity: 0;
        top: 3px;
        left: -90px;
        position: absolute;
        padding: 10px;
        width: 190px;
        cursor: pointer;
      }

      p{
        padding: 10px;
        border-radius: 5px;
        color: royalblue;
      }
    }
  }
}