<main class="site-main">
  <app-navbar></app-navbar>
  <section class="homework-section">
    <div></div>
    <div class="homework">
      <div class="homework-content__wrapper">
        <h2 class="homework-title">The standard Lorem Ipsum passage</h2>
        <p class="homework-text">
          The standard Lorem Ipsum passage "Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. "Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua.
        </p>
      </div>
      <div class="homework-media__wrapper">
        <h3>Subject</h3>
        <label for="input">
          Add homework
          <input type="text" />
        </label>
        <div class="btn-wrapper">
          <button>Submit</button>
        </div>
        <div class="file-wrapper">
          <input type="file" />
          <p>Upload File</p>
        </div>
      </div>
    </div>
  </section>
</main>
