<div class="main">
    <app-login-navbar/>
    <div class="inner-main">
        <div data-aos="zoom-in" data-aos-duration="1000" class="option-text-handler">
            <p class="option-text">Choose your option</p>
        </div>
        <div class="option-div-handler">
            <div data-aos="fade-up-right" data-aos-duration="1000" class="option-handler">
                <div class="option">
                    <img class="option-img" src="../../../../assets/images/student-option.png">
                </div>
                <div class="option-description-handler">
                    <p class="option-description">Student</p>
                </div>
            </div>
            <div data-aos="fade-up-left" data-aos-duration="1000" class="option-handler">
                <div class="option">
                    <img class="option-img" src="../../../../assets/images/teacher-option.png">
                </div>
                <div class="option-description-handler">
                    <p class="option-description">Teacher</p>
                </div>
            </div>
        </div>
    </div>
</div>
