<app-secondary-navbar path="../../../../assets/images/student-profile2.png"/>
<div class="main">
    <div class="inner-main">
        <h2 data-aos="zoom-in" data-aos-duration="1000" class="id">ID: 165653</h2>
        <div data-aos="zoom-in" data-aos-duration="1000" class="other-info">
            <div class="info-handler">
                <p class="key">Full Name:</p>
                <p class="value">Tohirjon Odilov</p>
                <hr>
            </div>
            <div class="info-handler">
                <p class="key">Grade:</p>
                <p class="value">11 A</p>
                <hr>
            </div>
            <div class="info-handler">
                <p class="key">Roll No.:</p>
                <p class="value">10</p>
                <hr>
            </div>
            <div class="info-handler">
                <p class="key">Address:</p>
                <p class="value">Paris</p>
                <hr>
            </div>
            <div class="info-handler">
                <p class="key">Parents name:</p>
                <p class="value">~~~</p>
                <hr>
            </div>
            <div class="info-handler">
                <p class="key">Parents contact:</p>
                <p class="value">+998-XX-XXX-XXXX</p>
                <hr>
            </div>
        </div>

        <div data-aos="fade-up" data-aos-duration="1000" class="reaquest-button">Request to edit</div>
    </div>
</div>