.main{
    width: 100%;
    height: 700px;
    position: relative;
    bottom: 50px;
    display: flex;
    justify-content: center;
}

.inner-main{
    width: 30%;
}

.id{
    font-size: 24px;
    font-weight: 400;
    font-family: sans-serif;
    color: blue;
}

.other-info{
    margin-top: 50px;
    line-height: 25px;
}

.info-handler{
    margin-top: 5%;
}

.key{
    font-size: 15px;
    font-weight: 400;
    font-family: sans-serif;
    color: blue;  
}

.value{
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
}

.reaquest-button{
    width: 100%;
    padding: 10px;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
    color: white;
    background-color: blue;
    transition: 0.5s;
}

.reaquest-button:hover{
    cursor: pointer;
    background-color: rgb(127, 127, 253);
}