<main class="site-main">
  <app-navbar></app-navbar>
  <section class="answer-section">
    <div class="answer">
      <h2 class="answer-title">Subject</h2>
      <div class="answer-content">
        <h3 class="answer-content__title">Question #1</h3>
        <p>
          The standard Lorem Ipsum passage. "Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua?
        </p>
        <hr />
        <p>
          The standard Lorem Ipsum passage. "Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua? The standard Lorem Ipsum passage.
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua?
        </p>
      </div>
    </div>
  </section>
</main>
