<app-primary-navbar path="../../../../assets/images/quiz-icon.png" header="Quiz"/>
<div class="main">
    <app-navbar />
    <div  class="inner-main">
        <div class="inner-main-body">
            <div data-aos="zoom-out" data-aos-duration="1000"    class="content-handler">
                <h1 class="header">What is frist king of Nepal?</h1>
            </div>
            <div class="options-handler">
                <div data-aos="fade-down" data-aos-duration="1000"  class="option">option</div>
                <div data-aos="fade-right" data-aos-duration="1000"  class="option">option</div>
                <div data-aos="fade-left" data-aos-duration="1000"  class="option">option</div>
                <div data-aos="fade-up" data-aos-duration="1000"  class="option">option</div>
                <div class="content-handler"></div>
            </div>
        </div>
    </div>
</div>