<div class="upper-main">
    <app-navbar />
    <div class="main">
        <div class="inner-main">
            <div data-aos="flip-up" data-aos-duration="1000">
                <p class="description">Enter details</p>
                <textarea class="textarea"></textarea>
            </div>
    
            <input id="real-input" class="real-uploader" type="file">
            <button data-aos="fade-right" data-aos-duration="1000" class="upload-image" (click)="upload()">Upload image</button>
    
            <div data-aos="fade-up" data-aos-duration="1000" class="send">Send</div>
        </div>
    </div>
</div>