<app-secondary-navbar path="../../../../assets/images/smile.png" />

<div class="main">
    <div class="inner-main">
        <div class="centrize-welcome">
            <div data-aos="fade-right" data-aos-duration="1000" class="welcom-div">
                <h3 class="welcome-header">Welcome Message <img src="../../../../assets/images/right-arrow.png" alt="">
                </h3>
                <p class="welcome-paragrph">The standard Lorem Ipsum passage
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. </p>
            </div>
        </div>
        <div class="cards">
            <app-small-card [routerLink]="['/teacher-attendance']" path="../../../../assets/images/attendance.png" header="Attendance"/>
            <app-small-card [routerLink]="['/teacher-homework']" path="../../../../assets/images/homework.png" header="Homework"/>
            <app-small-card [routerLink]="['/teacher-result']" path="../../../../assets/images/result.png" header="Result"/>
            <app-small-card [routerLink]="['/teacher-exam']" path="../../../../assets/images/exam.png" header="Exam Routine"/>
            <app-small-card [routerLink]="['/solutions']" path="../../../../assets/images/solution.png" header="Solution"/>
            <app-small-card [routerLink]="['/notice-events']" path="../../../../assets/images/event.png" header="Notice & Event"/>
            <app-small-card [routerLink]="['/student-registration']" path="../../../../assets/images/add-profile.png" header="Add Student"/>
        </div>
    </div>
</div>